In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("lab6.csv", header = None)
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [3]:
X = df.iloc[:,0:2]
Y = list(df[2])

In [4]:
for i in range(len(X)):
    X[0] =  ( X[0] - X[0].min() ) / ( X[0].max() - X[0].min()) 
    X[1] =  ( X[1] - X[1].min() ) / ( X[1].max() - X[1].min())

In [5]:
X.head()

          0         1
0  0.065428  0.694655
1  0.003266  0.194705
2  0.082968  0.619618
3  0.431764  0.816001
4  0.701943  0.655392

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size = 0.8)

In [7]:
x1_train = list(x_train[0])
x1_test = list(x_test[0])
x2_train = list(x_train[1])
x2_test = list(x_test[1])

In [8]:
l_rate = 0.3
e = 2.71828
b0 = 1
b1 = 0.5
b2 = 0.5
n = len(x1_train)
n_test = len(x1_test)
b = [b0, b1, b2]

In [9]:
def grad_desc(b):
    P = []
    X = []
    a = 0
    
    for i in range(n):
        X.append(b[0] + (b[1] * x1_train[i]) + (b[2] * x2_train[i]))
                 
    for i in range(n):
        P.append( 1 / ( 1 + ( e ** ( -1 * X[i] ) ) ) )
                 
    for j in range(3):
                 for i in range(n):
                     a = l_rate * (y_train[i] - P[i]) * (P[i]) * (1 - P[i])
                     if(j == 1):
                        a *= x1_train[i]
                     if(j == 2):
                        a *= x2_train[i]
                     b[j] += a 
        #print(b[j])
    return b

In [26]:
for i in range(100):
    b = grad_desc(b)
    #print(b)
print(b)

[-9.919041744236662, 12.599770463157187, 9.848107189137894]

In [16]:
x = []
p = []

for i in range(n_test):
    x.append(b[0] + (b[1] * x1_test[i]) + (b[2] * x2_test[i]))
    
for i in range(n_test):
    p.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    
df1 = pd.DataFrame(list(zip(x, p)), columns =['X', 'P'])
df1.head()

          X         P
0  0.801847  0.690369
1 -2.662759  0.065207
2  3.201349  0.960885
3 -0.855201  0.298343
4  6.086388  0.997732

In [17]:
pred = []
for i in range(n_test):
    if (df1.P[i] > 0.5):
        pred.append(1)
    else:
        pred.append(0)

df1['pred'] = pred
df1['Y'] = y_test
df1.head()

          X         P  pred  Y
0  0.801847  0.690369     1  0
1 -2.662759  0.065207     0  0
2  3.201349  0.960885     1  1
3 -0.855201  0.298343     0  0
4  6.086388  0.997732     1  1

In [20]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[ 7  1]
 [ 1 11]]
              precision    recall  f1-score   support

           0       0.88      0.88      0.88         8
           1       0.92      0.92      0.92        12

    accuracy                           0.90        20
   macro avg       0.90      0.90      0.90        20
weighted avg       0.90      0.90      0.90        20

In [21]:
print((accuracy_score(y_test,pred))*100)

90.0