In [1]:
!python --version

Python 3.7.12

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('./pima.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
X = df.drop("Outcome", axis=1)
y = df["Outcome"]

In [5]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=101)

In [7]:
model1 = RandomForestClassifier(n_estimators=100)
model1.fit(X_train, Y_train)

RandomForestClassifier()

In [8]:
model2 = DecisionTreeClassifier()
model2.fit(X_train, Y_train)

DecisionTreeClassifier()

In [9]:
y_pred1 = model1.predict(X_test)
y_pred2 = model2.predict(X_test)

In [10]:
print("For Random Forest Classifier Model")
print("Accuracy:", accuracy_score(Y_test, y_pred1))
print(classification_report(Y_test, y_pred1))

For Random Forest Classifier Model
Accuracy: 0.7532467532467533
              precision    recall  f1-score   support

           0       0.79      0.86      0.82       103
           1       0.66      0.53      0.59        51

    accuracy                           0.75       154
   macro avg       0.72      0.70      0.71       154
weighted avg       0.74      0.75      0.75       154

In [11]:
print("For Decision Tree Classifier Model")
print("Accuracy:", accuracy_score(Y_test, y_pred2))
print(classification_report(Y_test,y_pred2))

For Decision Tree Classifier Model
Accuracy: 0.6818181818181818
              precision    recall  f1-score   support

           0       0.77      0.75      0.76       103
           1       0.52      0.55      0.53        51

    accuracy                           0.68       154
   macro avg       0.64      0.65      0.65       154
weighted avg       0.69      0.68      0.68       154